arrow==1.2.2
cachelib==0.6.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
Deprecated==1.2.13
Flask==2.0.2
Flask-Caching==1.10.1
Flask-Session==0.4.0
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
music-datagen==0.0.2
music-datagen-noahsolomon0518==0.0.1
music-parser==0.0.4
numpy==1.21.4
packaging==21.3
pyparsing==3.0.7
python-dateutil==2.8.2
redis==4.1.2
requests==2.26.0
rq==1.10.1
rq-dashboard==0.6.1
rq-win==0.4.0
six==1.16.0
spotipy==2.19.0
times==0.7
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.13.3
