<!doctype html style="margin: 0px; padding: 0px;">
<html style="padding: 0px; margin: 0px;">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body style="padding: 0px; margin: 0px;">
    <nav id="title" class="d-flex align-items-center justify-content-center"
        style="margin: 0px; padding: 0px; background-color: rgb(26, 26, 26); width: 100%; height: 100px;">

        <p class="fs-1" style="padding: 0px; margin: 0px; color: white;">Spotify Insight Tool</p>


    </nav>

    <section id="details"
        style="width: 100%; background-color: whitesmoke; margin: 0px; padding: 10px; display: flex; align-items: center; justify-content: center; flex-direction: column;">

        <p class="lead" style="width: 50%; margin-top: 50px; text-align: center;">
            This app uses the spotify API <strong>related artist</strong> feature to help you find your next favorite
            artist.
        </p>
        <p class="text-muted">Learn more below.</p>
    </section>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <div style="width: 50%;" class="mt-5">
            <div>

                <p style="color: rgb(118, 118, 255); font-size: xx-large;" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                    Related Artist Finder
                </p>
            </div>

            <div class="collapse mb-2" id="collapseExample">
                <div class="card card-body">
                    Uses spotify's related artist feature to recursively find artist similar to inputted artist. Can view table of related artist with popularity values (0-100) and number of followers. Option to download as CSV file.
                    <a href="related_artist" class="btn btn-sm btn-primary mt-2" style="width: 150px;">
                        Go here
                    </a>
                </div>
            </div>
        </div>
        <div style="width: 50%;">
            <div>

                <p style="color: rgb(118, 118, 255); font-size: xx-large;" type="button" data-toggle="collapse" data-target="#related-artist-playlist-generator"
                    aria-expanded="false" aria-controls="related-artist-playlist-generator">
                    Related Artist Playlist Generator
                </p>
            </div>

            <div class="collapse" id="related-artist-playlist-generator">
                <div class="card card-body">
                    Creates a playlist based on the related artist tree of an inputted artist. Can condition on popularity and number of followers to generate a playlist with more unknown artist.
                    <a href="related_artist_playlist_generator" class="btn btn-sm btn-primary mt-2" style="width: 150px;">
                        Go here
                    </a>
                </div>
            </div>
        </div>


    </div>

</body>
<script src="static/table.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


</html>